
@import "~bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:100,300,400");

$gray_color:#e8e8e8;


/* Utilities
   ------------------------------------------------------------------------- */
.m-b-0 { margin-bottom: 0 }

/* Page elements
   ------------------------------------------------------------------------- */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;

}

header {
  margin-bottom: 2em
}

header ul.nav li {
  margin-bottom: 0
}

header .locales a {
  padding-right: 10px
}

.body-container {
  flex: 1;
  /* needed to prevent pages with a very small height and browsers not supporting flex */
  min-height: 600px
}

.body-container #main h1, .body-container #main h2 {
  margin-top: 0
}

//========== SIDE BAR ==========
#sidebar {
  border: 1px lightgray solid;
  border-radius: 0.8rem;
  max-height: 300px;
  background:  #f9f6f6 ;;

  .section {
    margin-bottom: 2em
  }

  p {
    font-size: 15px;
  }
  p + p {
    margin: 1.5em 0 0
  }
}



footer {
  background:   #dfdddd  ;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  p {
    color: #7b8a8b;
    font-size: 13px;
    margin-bottom: 0.25em
  }

  #footer-resources {
    text-align: right;
    i {
      color: #7b8a8b;
      font-size: 28.5px;
      margin-left: 0.5em
    }
  }

}





.emp-profile{
  padding: 3%;
  margin-bottom: 3%;
  border-radius: 0.8rem;

  //background:  #e8e8e8 ;
  background: -webkit-linear-gradient(left, #e8e8e1,  $gray_color )
}
.profile-img{
  text-align: center;
  img{
    width: 70%;
    height: 100%;
  }

  .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
  }
}

.profile-head{
  h5{
    color: #333;
  }
  h6{
    color: #0062cc;
  }
}

/*
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}*/
.profile-work{
  padding: 14%;
  margin-top: -15%;

  p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }

  a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  }

  ul{
    list-style: none;
  }
  label{
    font-weight: 600;
  }

}

